.footer {
  height: 100px;
  display: flex;
  padding-top: 20px;
  border-top: 1px solid #eeebea;
  justify-content: space-around;
  background: white;
}

.footer > div {
  display: flex;
  flex-direction: column;
}

.footer > div p {
  font-size: 14px;
}

.footer > div h3 {
  font-size: 14px;
}

.footer__logo-container img {
  height: 45px;
}

.footer__keep-up-container {
  width: 180px;
}

.footer__keep-up-container h3 {
  text-align: center;
}

.footer__social-media-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.footer__social-media-icons img {
  height: 30px;
}

.footer__instagram-link {
  outline: none;
}

.footer .footer__scroll-up {
  display: none;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transform: rotate(-90deg);
  margin-right: 15px;
  background: rgba(0, 0, 0, 0.5);
  padding: 6px;
  border-radius: 50%;
}

.footer .footer__scroll-up img {
  filter: invert(1);
}

@media only screen and (max-width: 414px) {
  .footer .footer__contact-container,
  .footer .footer__keep-up-container,
  .footer .footer__services-container,
  .footer .footer__portfolio-container {
    display: none;
  }

  .footer {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .footer .footer__scroll-up {
    display: flex;
  }
}
