.contact-body-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.contact-body {
  flex: 1;
  max-width: 900px;
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info h3 span,
.contact-info h3 {
  font-size: 36px;
  text-align: right;
}
.contact-info h3 {
  margin-bottom: 10px;
}

.contact-info h3 span {
  color: #f1b434;
}

.contact-info p span,
.contact-info p {
  text-align: right;
  font-size: 16px;
}

.contact-info p span {
  font-weight: bold;
}

.contact-mail {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 120px;
}

.contact-mail__item {
  flex: 1;
  display: flex;
  border-bottom: 1px solid black;
  align-items: flex-end;
  margin-bottom: 40px;
  transition: all 0.5s ease;
}

.contact-mail__item:nth-child(5) {
  margin-bottom: 10px;
}

.contact-mail__item p {
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.contact-mail__item input {
  flex: 1;
  font-size: 16px;
  padding: 0;
  margin-bottom: 10px;
  border: none;
  background: none;
  color: grey;
}

.contact-mail__message {
  flex-direction: column;
  align-items: flex-start;
}

.contact-mail__message textarea {
  width: 100%;
  font-size: 16px;
  height: 250px;
  border: 0;
  resize: none;
  outline: none;
  background: none;
  color: grey;
  font-family: "Futura", "Titillium Web", sans-serif;
}

.contact-mail__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
  transform: rotate(-90deg) translateY(65px);
  transform-origin: left;
  font-size: 27px;
}

.contact-mail__description span {
  color: #f1b434;
  font-size: 27px;
}

.contact-mail__send-button {
  font-size: 16px;
  background: none;
  border: none;
  padding: 0px;
  margin: 0;
  width: 100px;
  cursor: pointer;
  align-self: flex-end;
  font-weight: bold;
  outline: none;
}

.contact-mail__send-button span {
  font-size: 16px;
  margin-left: 10px;
  color: #f1b434;
  font-weight: bold;
}

.contact-mail__email-sent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.97);
  flex-direction: column;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.contact-mail__email-sent--active {
  z-index: 1;
  opacity: 1;
  pointer-events: all;
}

.contact-mail__email-sent__inner {
  display: flex;
}

.contact-mail__email-sent img {
  height: 50px;
  margin-right: 30px;
}

.contact-mail__email-sent p {
  width: 240px;
  font-size: 20px;
}

.contact-mail__email-sent__button {
  font-size: 16px;
  background: none;
  border: none;
  padding: 0px;
  margin: 0;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  margin-top: 20px;
  width: 330px;
  text-align: right;
}

.contact-mail__email-sent__button span {
  font-size: 16px;
  margin-left: 10px;
  color: #f1b434;
  font-weight: bold;
  cursor: pointer;
}

.invalid-animation {
  animation: invalidAnimation 0.5s ease;
  border-bottom: 1px solid red;
}

.invalid-animation.contact-mail__item p {
  color: red;
}

@keyframes invalidAnimation {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 414px) {
  .contact-body {
    flex-direction: column;
    margin-top: 10px;
    overflow: hidden;
    padding: 20px;
  }

  .contact-info h3 {
    font-size: 30px;
  }

  .contact-info h3 span,
  .contact-info h3 {
    text-align: left;
  }

  .contact-info p span,
  .contact-info p {
    text-align: left;
    font-size: 14px;
  }

  .contact-mail__description {
    transform: none;
    position: unset;
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-mail__description span {
    font-size: 18px;
  }

  .contact-mail {
    margin-top: 30px;
    padding-left: 0;
  }

  .contact-mail__message textarea {
    height: 150px;
  }
}
