.tabs-header-button {
  margin: 0px 10px;
  padding: 10px;
  cursor: pointer;
}

.tabs-header-button:first-child {
  margin-left: 0px;
}

.tabs-header-button--selected {
  background: white;
}

.tabs-header-button--selected p {
  color: black;
}
