.latest-projects__find-more .find-more {
  transform: translate(-57%, -50px);
}

@media only screen and (max-width: 414px) {
  .find-more-container {
    justify-content: flex-start;
  }

  .latest-projects__find-more .find-more {
    transform: none;
  }
}
