.steps-work-home-container {
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
}

.steps-work-home {
  width: 100%;
  display: flex;
  margin-top: 100px;
  overflow: hidden;
}

.steps-work-home__thumbs,
.steps-work-home__title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.steps-work-home__title {
  align-items: flex-start;
}

.steps-work-home__title__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: 4px solid black;
  padding-right: 10px;
  width: 418px;
  margin-top: 80px;
  margin-left: 80px;
}

.steps-work-home__title__text {
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  margin-bottom: 20px;
}

.steps-work-home__title__sub-text {
  text-align: right;
  font-size: 16px;
  margin-bottom: 10px;
  color: grey;
}

.find-more-container.steps-work-home__find-more {
  justify-content: flex-end;
}

.steps-work-home__find-more .find-more {
  margin-top: 100px;
}

.steps-work-home__thumbs .find-more {
  display: none;
}

@media only screen and (max-width: 414px) {
  .steps-work-home {
    flex-direction: column-reverse;
    /* margin: 10px; */
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
  }

  .steps-work-home__title__text-container {
    width: unset;
    margin: 0px;
  }

  .steps-work-home__title .find-more {
    display: none;
  }

  .steps-work-home__thumbs .find-more {
    display: flex;
    margin-top: 20px;
    width: 80%;
  }

  .find-more-container.steps-work-home__find-more {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
