.add-project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.add-project-modal__overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}

.add-project-modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.add-project-modal__attributes {
  flex: 1;
  display: flex;
}

.add-project-modal__cover {
  margin: 10px;
  margin-left: 0px;
  border: 1px solid white;
  background: white;
  width: 300px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-project-modal__cover__upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.add-project-modal__cover_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.add-project-modal__cover_img--default {
  position: absolute;
  width: 70%;
  height: 70%;
  object-fit: scale-down;
  filter: invert(0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-project-modal__cover_img--with-img {
  display: none;
}

.add-project-modal__cover:hover .add-project-modal__cover_img--with-img {
  display: block;
  top: unset;
  left: unset;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  transform: none;
  filter: invert(1);
}

.add-project-modal__project-title {
  margin-bottom: 15px;
}

.add-project-modal__attributes-container {
  margin-left: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.add-project-modal__project-title input {
  font-size: 16px;
  padding: 5px;
  width: calc(100% - 12px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  color: white;
  transition: background 0.2s ease;
}

.add-project-modal__project-title input:focus {
  background: rgba(255, 255, 255, 0.2);
}

.add-project-modal__project-description {
  margin-bottom: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.add-project-modal__project-description textarea {
  width: calc(100% - 12px);
  background: rgba(255, 255, 255, 0.1);
  padding: 5px;
  font-size: 16px;
  border: 1px solid white;
  transition: background 0.2s ease;
  outline: none;
  color: white;
  resize: none;
  flex: 1;
}

.add-project-modal__project-description textarea:focus {
  background: rgba(255, 255, 255, 0.2);
}

.add-project-modal__project-tags-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.add-project-modal__project-tags__tag {
  border: 1px solid white;
  padding: 5px 15px;
  margin: 10px 15px 10px 0px;
  font-size: 16px;
  cursor: pointer;
}

.add-project-modal__project-tags__tag--selected {
  background: white;
  color: black;
}

.add-project-modal__buttons {
  margin: 10px;
  padding: 10px;
  border-top: 1px solid white;
  display: flex;
  justify-content: flex-end;
}

.add-project-modal__buttons__button-apply,
.add-project-modal__buttons__button-cancel {
  background: none;
  outline: none;
  border: 1px solid white;
  margin: 5px;
  cursor: pointer;
  width: 100px;
}

.add-project-modal__buttons__button-apply {
  background: white;
  color: black;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.add-project-modal__buttons__button-apply--enable {
  opacity: 1;
  pointer-events: all;
}
