.portfolio-projects-container {
  width: 100%;
  height: calc(100% - 81px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.portfolio-back-circle {
  position: absolute;
  width: 100%;

  bottom: 0;
  left: 0;
  transform: translate(-50%, 60%);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.portfolio-back-circle--to-right {
  transform: translate(50%, 60%);
}

.portfolio-back-circle::after {
  content: "";
  padding-top: 100%;
  height: 0px;
  display: block;
  overflow: hidden;
  background: #eeebea;
  border-radius: 50%;
}

.portfolio-projects {
  margin-top: 80px;
  flex: 1;
  max-width: 900px;
  min-height: 0;
  width: 100%;
  overflow: hidden;
}

.portfolio-projects__container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.portfolio-projects__commercial-container {
  transform: translateX(-100%);
}

.portfolio-projects__residential-container {
  transform: translateX(100%);
}

.portfolio-projects__container--active {
  transform: translateX(0%);
}

.portfolio-projects .projects-list__title,
.portfolio-projects .project-cover,
.portfolio-projects .project-dummy {
  width: 400px;
  height: 550px;
}

@media only screen and (max-width: 414px) {
  .portfolio-projects {
    margin-top: 10px;
    padding: 0px 10px;
    width: calc(100% - 20px);
  }

  .portfolio-projects__container {
    width: calc(100% - 20px);
    left: 10px;
  }

  .portfolio-projects__residential-container {
    transform: translateX(calc(100% + 10px));
  }

  .portfolio-projects__commercial-container {
    transform: translateX(calc(-100% - 10px));
  }

  .portfolio-projects__container--active {
    transform: translateX(0);
  }

  .portfolio-projects .projects-list__title,
  .portfolio-projects .project-cover {
    width: 100%;
    height: 400px;
  }

  .portfolio-projects .projects-list__title,
  .portfolio-projects .project-dummy {
    display: none;
  }
}
