.edit-portfolio {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  overflow: hidden;
}

.add-project-button {
  background: none;
  outline: none;
  border: 1px solid white;
  margin: 5px;
  cursor: pointer;
}

.add-project-button:hover {
  background: white;
  color: black;
}

.edit-portfolio-tabs-body {
  display: flex;
  flex-direction: column;
}

.edit-portfolio__projects-container {
  flex: 1;
  overflow: auto;
}
