.steps {
  width: 100%;
  margin-top: 80px;
}

.steps__step {
  width: 100%;
  display: flex;
}

.steps__step--on-left {
  flex-direction: row-reverse;
}

.steps__step__title {
  margin-top: 20px;
  width: 300px;
}

.steps__step__title span {
  color: #f1b434;
}

.steps__step__blank,
.steps__step__text {
  flex: 1;
}

.steps__step__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.steps__step__text__description,
.steps__step__text__sub-title {
  font-size: 16px;
  margin-left: 23px;
}

.steps__step--on-left .steps__step__text__description,
.steps__step--on-left .steps__step__text__sub-title {
  margin-left: 0;
  margin-right: 23px;
  text-align: right;
}

.steps__step__text__title {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-90deg) translateX(18px);
  transform-origin: left;
}

.steps__step--on-left .steps__step__text__title {
  left: unset;
  right: 0;
  transform: rotate(-90deg) translateX(calc(100% + 18px));
  transform-origin: right;
}

.steps__step__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.steps__step__text__description {
  margin-top: 15px;
  margin-bottom: 35px;
  color: grey;
}

@media only screen and (max-width: 414px) {
  .steps {
    margin-top: 10px;
  }

  .steps__step {
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }

  .steps__step:last-child {
    border-bottom: none;
  }

  .steps__step--on-left {
    flex-direction: row;
  }

  .steps__step__text__title {
    transform: none;
    position: unset;
    margin-bottom: 20px;
  }

  .steps__step__blank {
    width: 100%;
  }

  .steps__step__img {
    width: 150%;
  }

  .steps__step__title {
    margin-bottom: 40px;
    width: calc(100% - 14px);
    text-align: right;
    border-right: 4px solid black;
    padding-right: 10px;
  }

  .steps__step__text {
    margin-top: 20px;
    padding: 15px;
  }

  .steps__step__text__sub-title {
    margin-left: 0px;
  }

  .steps__step__text__description {
    margin: 0;
  }

  .steps__step--on-left .steps__step__text__title {
    transform: none;
  }

  .steps__step--on-left .steps__step__text__description,
  .steps__step--on-left .steps__step__text__sub-title {
    text-align: left;
  }
}
