.proposals {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.proposals__proposal {
  width: 270px;
  height: 560px;
  background: #eeebea;
}

.proposals__proposal__cover {
  width: 270px;
  height: 270px;
}

.proposals__proposal__title {
  position: absolute;
  top: 20px;
  left: 20px;
}

.proposals__proposal__text {
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  box-sizing: border-box;
}

.proposals__proposal__description,
.proposals__proposal__sub-title {
  font-size: 16px;
  width: 100%;
}

.proposals__proposal__description {
  color: grey;
  margin-top: 10px;
}

@media only screen and (max-width: 414px) {
  .proposals {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .proposals__proposal {
    margin-bottom: 20px;
    width: 100%;
  }

  .proposals__proposal__cover {
    width: 100%;
  }
}
