.circle {
  width: 150%;

  position: absolute;

  top: 0;
  left: 0;
  transform: translate(-60%, -60%) scale(0.5);

  z-index: -1;
  transition: transform 0.1s linear;
  transform-origin: center center;
}

.circle::after {
  content: "";
  padding-top: 100%;
  height: 0px;
  display: block;
  overflow: hidden;
  background: #eeebea;
  border-radius: 50%;
}

.circle__position--right-bottom {
  top: unset;
  left: unset;
  width: 100%;
  right: 0;
  bottom: 0;
  transform: translate(60%, 60%);
}
